#top-bar {
    display: block;
    position: relative;
    z-index: 999;
    background: #1c1c1c;
    padding: 15px 1rem;
}
.sw-lang {
    padding-right: .5rem;
    padding-left: .5rem;
}
.top-social-icon,.sw-lang {
    margin-bottom: 0;
}
.top-social-icon li {
    font-size: 14px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0 7px;
    display: inline-block;
}
.top-social-icon li a {
    color: #fff;
}
.sw-lang li {
    display: inline-block;
    font-size: 14px;
    color:#fff;
}
.sw-lang li a {
    color:#fff;
    text-decoration: none;
}
.section-header {
    position: relative;
    height: 300px;
}
.menu-section {
    position: absolute;
    width: 100%;
} 

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}




@media (min-width: 1200px)
.ts-container {
    max-width: 1140px;
}
@media (min-width: 992px)
.ts-container {
    max-width: 960px;
}
@media (min-width: 768px)
.ts-container {
    max-width: 720px;
}
@media (min-width: 576px)
.ts-container {
    max-width: 540px;
}