a {
text-decoration : none;
color : $linkcolor;

&:visited {
color : $linkcolorvisited; }

&:hover {
// text-decoration : underline;
color : $linkcolorhover; }

&:focus {
outline : thin dotted;
color : $linkcolorfocus;
text-decoration: none;}

&:hover,
&:active {
outline : 0; }
}

::-moz-selection {
background-color : #AAD8FF;
color : $basecolor;
text-shadow : none; }

::selection {
// background-color : lighten($basecolor, 65%);
background-color: #AAD8FF;
// background-color: transparent;
color : $basecolor;
text-shadow : none; }


.color{
  &-black{
    color: $black;
  }
	&-white{
    color: $white;
  }
  &-brand{
      color: $brand-color;
  }
  &-brown{
      color: $brown-color;
  }
  &-gray{
      color: $gray-color;
  }
}

._bg{
    &-white{
      background-color: $white;
    }

    &-darkblack{
        background-color: #333333;
    }

    &-gradient{
      position: relative;

      &:before,
      &:after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }

      &:before{
        @include linear-gradient(0deg,
        #6c451f 0%,
        #8d5d2b 100%);
      }

      &:after{
        background-color: rgba(#141414, 0.3);
      }

      ._show-relative{
        position: relative;
        z-index: 10;
      }
    }
}
