{
  "name": "thumbsup-2019",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "css/scss/style.scss",
      "imports": [
        "css/scss/_variables.scss",
        "css/scss/_seed.scss",
        "css/scss/_begin.scss",
        "css/scss/_head.scss",
        "css/scss/_body.scss",
        "css/scss/_side.scss",
        "css/scss/_woocommerce.scss",
        "css/scss/_gutenberg.scss",
        "css/scss/_etc.scss",
        "css/scss/_foot.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/_mixins.scss",
      "imports": [
        "css/scss/boostrap4/mixins/_breakpoints.scss",
        "css/scss/boostrap4/mixins/_hover.scss",
        "css/scss/boostrap4/mixins/_image.scss",
        "css/scss/boostrap4/mixins/_badge.scss",
        "css/scss/boostrap4/mixins/_resize.scss",
        "css/scss/boostrap4/mixins/_screen-reader.scss",
        "css/scss/boostrap4/mixins/_size.scss",
        "css/scss/boostrap4/mixins/_reset-text.scss",
        "css/scss/boostrap4/mixins/_text-emphasis.scss",
        "css/scss/boostrap4/mixins/_text-hide.scss",
        "css/scss/boostrap4/mixins/_text-truncate.scss",
        "css/scss/boostrap4/mixins/_visibility.scss",
        "css/scss/boostrap4/mixins/_alert.scss",
        "css/scss/boostrap4/mixins/_buttons.scss",
        "css/scss/boostrap4/mixins/_caret.scss",
        "css/scss/boostrap4/mixins/_pagination.scss",
        "css/scss/boostrap4/mixins/_lists.scss",
        "css/scss/boostrap4/mixins/_list-group.scss",
        "css/scss/boostrap4/mixins/_nav-divider.scss",
        "css/scss/boostrap4/mixins/_forms.scss",
        "css/scss/boostrap4/mixins/_table-row.scss",
        "css/scss/boostrap4/mixins/_background-variant.scss",
        "css/scss/boostrap4/mixins/_border-radius.scss",
        "css/scss/boostrap4/mixins/_box-shadow.scss",
        "css/scss/boostrap4/mixins/_gradients.scss",
        "css/scss/boostrap4/mixins/_transition.scss",
        "css/scss/boostrap4/mixins/_clearfix.scss",
        "css/scss/boostrap4/mixins/_grid-framework.scss",
        "css/scss/boostrap4/mixins/_grid.scss",
        "css/scss/boostrap4/mixins/_float.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/_utilities.scss",
      "imports": [
        "css/scss/boostrap4/utilities/_align.scss",
        "css/scss/boostrap4/utilities/_background.scss",
        "css/scss/boostrap4/utilities/_borders.scss",
        "css/scss/boostrap4/utilities/_clearfix.scss",
        "css/scss/boostrap4/utilities/_display.scss",
        "css/scss/boostrap4/utilities/_embed.scss",
        "css/scss/boostrap4/utilities/_flex.scss",
        "css/scss/boostrap4/utilities/_float.scss",
        "css/scss/boostrap4/utilities/_position.scss",
        "css/scss/boostrap4/utilities/_screenreaders.scss",
        "css/scss/boostrap4/utilities/_shadows.scss",
        "css/scss/boostrap4/utilities/_sizing.scss",
        "css/scss/boostrap4/utilities/_spacing.scss",
        "css/scss/boostrap4/utilities/_text.scss",
        "css/scss/boostrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/bootstrap-grid.scss",
      "imports": [
        "css/scss/boostrap4/_functions.scss",
        "css/scss/boostrap4/_variables.scss",
        "css/scss/boostrap4/mixins/_breakpoints.scss",
        "css/scss/boostrap4/mixins/_grid-framework.scss",
        "css/scss/boostrap4/mixins/_grid.scss",
        "css/scss/boostrap4/_grid.scss",
        "css/scss/boostrap4/utilities/_display.scss",
        "css/scss/boostrap4/utilities/_flex.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/bootstrap-reboot.scss",
      "imports": [
        "css/scss/boostrap4/_functions.scss",
        "css/scss/boostrap4/_variables.scss",
        "css/scss/boostrap4/_mixins.scss",
        "css/scss/boostrap4/_reboot.scss",
        "css/scss/boostrap4/mixins/_breakpoints.scss",
        "css/scss/boostrap4/mixins/_hover.scss",
        "css/scss/boostrap4/mixins/_image.scss",
        "css/scss/boostrap4/mixins/_badge.scss",
        "css/scss/boostrap4/mixins/_resize.scss",
        "css/scss/boostrap4/mixins/_screen-reader.scss",
        "css/scss/boostrap4/mixins/_size.scss",
        "css/scss/boostrap4/mixins/_reset-text.scss",
        "css/scss/boostrap4/mixins/_text-emphasis.scss",
        "css/scss/boostrap4/mixins/_text-hide.scss",
        "css/scss/boostrap4/mixins/_text-truncate.scss",
        "css/scss/boostrap4/mixins/_visibility.scss",
        "css/scss/boostrap4/mixins/_alert.scss",
        "css/scss/boostrap4/mixins/_buttons.scss",
        "css/scss/boostrap4/mixins/_caret.scss",
        "css/scss/boostrap4/mixins/_pagination.scss",
        "css/scss/boostrap4/mixins/_lists.scss",
        "css/scss/boostrap4/mixins/_list-group.scss",
        "css/scss/boostrap4/mixins/_nav-divider.scss",
        "css/scss/boostrap4/mixins/_forms.scss",
        "css/scss/boostrap4/mixins/_table-row.scss",
        "css/scss/boostrap4/mixins/_background-variant.scss",
        "css/scss/boostrap4/mixins/_border-radius.scss",
        "css/scss/boostrap4/mixins/_box-shadow.scss",
        "css/scss/boostrap4/mixins/_gradients.scss",
        "css/scss/boostrap4/mixins/_transition.scss",
        "css/scss/boostrap4/mixins/_clearfix.scss",
        "css/scss/boostrap4/mixins/_grid-framework.scss",
        "css/scss/boostrap4/mixins/_grid.scss",
        "css/scss/boostrap4/mixins/_float.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/bootstrap.scss",
      "imports": [
        "css/scss/boostrap4/_functions.scss",
        "css/scss/boostrap4/_variables.scss",
        "css/scss/boostrap4/_mixins.scss",
        "css/scss/boostrap4/_root.scss",
        "css/scss/boostrap4/_reboot.scss",
        "css/scss/boostrap4/_type.scss",
        "css/scss/boostrap4/_images.scss",
        "css/scss/boostrap4/_code.scss",
        "css/scss/boostrap4/_grid.scss",
        "css/scss/boostrap4/_tables.scss",
        "css/scss/boostrap4/_forms.scss",
        "css/scss/boostrap4/_buttons.scss",
        "css/scss/boostrap4/_transitions.scss",
        "css/scss/boostrap4/_dropdown.scss",
        "css/scss/boostrap4/_button-group.scss",
        "css/scss/boostrap4/_input-group.scss",
        "css/scss/boostrap4/_custom-forms.scss",
        "css/scss/boostrap4/_nav.scss",
        "css/scss/boostrap4/_navbar.scss",
        "css/scss/boostrap4/_card.scss",
        "css/scss/boostrap4/_breadcrumb.scss",
        "css/scss/boostrap4/_pagination.scss",
        "css/scss/boostrap4/_badge.scss",
        "css/scss/boostrap4/_jumbotron.scss",
        "css/scss/boostrap4/_alert.scss",
        "css/scss/boostrap4/_progress.scss",
        "css/scss/boostrap4/_media.scss",
        "css/scss/boostrap4/_list-group.scss",
        "css/scss/boostrap4/_close.scss",
        "css/scss/boostrap4/_modal.scss",
        "css/scss/boostrap4/_tooltip.scss",
        "css/scss/boostrap4/_popover.scss",
        "css/scss/boostrap4/_carousel.scss",
        "css/scss/boostrap4/_utilities.scss",
        "css/scss/boostrap4/_print.scss",
        "css/scss/boostrap4/mixins/_breakpoints.scss",
        "css/scss/boostrap4/mixins/_hover.scss",
        "css/scss/boostrap4/mixins/_image.scss",
        "css/scss/boostrap4/mixins/_badge.scss",
        "css/scss/boostrap4/mixins/_resize.scss",
        "css/scss/boostrap4/mixins/_screen-reader.scss",
        "css/scss/boostrap4/mixins/_size.scss",
        "css/scss/boostrap4/mixins/_reset-text.scss",
        "css/scss/boostrap4/mixins/_text-emphasis.scss",
        "css/scss/boostrap4/mixins/_text-hide.scss",
        "css/scss/boostrap4/mixins/_text-truncate.scss",
        "css/scss/boostrap4/mixins/_visibility.scss",
        "css/scss/boostrap4/mixins/_alert.scss",
        "css/scss/boostrap4/mixins/_buttons.scss",
        "css/scss/boostrap4/mixins/_caret.scss",
        "css/scss/boostrap4/mixins/_pagination.scss",
        "css/scss/boostrap4/mixins/_lists.scss",
        "css/scss/boostrap4/mixins/_list-group.scss",
        "css/scss/boostrap4/mixins/_nav-divider.scss",
        "css/scss/boostrap4/mixins/_forms.scss",
        "css/scss/boostrap4/mixins/_table-row.scss",
        "css/scss/boostrap4/mixins/_background-variant.scss",
        "css/scss/boostrap4/mixins/_border-radius.scss",
        "css/scss/boostrap4/mixins/_box-shadow.scss",
        "css/scss/boostrap4/mixins/_gradients.scss",
        "css/scss/boostrap4/mixins/_transition.scss",
        "css/scss/boostrap4/mixins/_clearfix.scss",
        "css/scss/boostrap4/mixins/_grid-framework.scss",
        "css/scss/boostrap4/mixins/_grid.scss",
        "css/scss/boostrap4/mixins/_float.scss",
        "css/scss/boostrap4/utilities/_align.scss",
        "css/scss/boostrap4/utilities/_background.scss",
        "css/scss/boostrap4/utilities/_borders.scss",
        "css/scss/boostrap4/utilities/_clearfix.scss",
        "css/scss/boostrap4/utilities/_display.scss",
        "css/scss/boostrap4/utilities/_embed.scss",
        "css/scss/boostrap4/utilities/_flex.scss",
        "css/scss/boostrap4/utilities/_float.scss",
        "css/scss/boostrap4/utilities/_position.scss",
        "css/scss/boostrap4/utilities/_screenreaders.scss",
        "css/scss/boostrap4/utilities/_shadows.scss",
        "css/scss/boostrap4/utilities/_sizing.scss",
        "css/scss/boostrap4/utilities/_spacing.scss",
        "css/scss/boostrap4/utilities/_text.scss",
        "css/scss/boostrap4/utilities/_visibility.scss"
      ]
    },
    {
      "path": "css/scss/boostrap4/bootstrap4.scss",
      "imports": [
        "css/scss/boostrap4/_functions.scss",
        "css/scss/boostrap4/_variables.scss",
        "css/scss/boostrap4/_mixins.scss",
        "css/scss/boostrap4/_root.scss",
        "css/scss/boostrap4/_reboot.scss",
        "css/scss/boostrap4/_type.scss",
        "css/scss/boostrap4/_images.scss",
        "css/scss/boostrap4/_code.scss",
        "css/scss/boostrap4/_grid.scss",
        "css/scss/boostrap4/_tables.scss",
        "css/scss/boostrap4/_forms.scss",
        "css/scss/boostrap4/_buttons.scss",
        "css/scss/boostrap4/_transitions.scss",
        "css/scss/boostrap4/_dropdown.scss",
        "css/scss/boostrap4/_button-group.scss",
        "css/scss/boostrap4/_input-group.scss",
        "css/scss/boostrap4/_card.scss",
        "css/scss/boostrap4/_pagination.scss",
        "css/scss/boostrap4/_badge.scss",
        "css/scss/boostrap4/_utilities.scss",
        "css/scss/boostrap4/_print.scss",
        "css/scss/boostrap4/mixins/_breakpoints.scss",
        "css/scss/boostrap4/mixins/_hover.scss",
        "css/scss/boostrap4/mixins/_image.scss",
        "css/scss/boostrap4/mixins/_badge.scss",
        "css/scss/boostrap4/mixins/_resize.scss",
        "css/scss/boostrap4/mixins/_screen-reader.scss",
        "css/scss/boostrap4/mixins/_size.scss",
        "css/scss/boostrap4/mixins/_reset-text.scss",
        "css/scss/boostrap4/mixins/_text-emphasis.scss",
        "css/scss/boostrap4/mixins/_text-hide.scss",
        "css/scss/boostrap4/mixins/_text-truncate.scss",
        "css/scss/boostrap4/mixins/_visibility.scss",
        "css/scss/boostrap4/mixins/_alert.scss",
        "css/scss/boostrap4/mixins/_buttons.scss",
        "css/scss/boostrap4/mixins/_caret.scss",
        "css/scss/boostrap4/mixins/_pagination.scss",
        "css/scss/boostrap4/mixins/_lists.scss",
        "css/scss/boostrap4/mixins/_list-group.scss",
        "css/scss/boostrap4/mixins/_nav-divider.scss",
        "css/scss/boostrap4/mixins/_forms.scss",
        "css/scss/boostrap4/mixins/_table-row.scss",
        "css/scss/boostrap4/mixins/_background-variant.scss",
        "css/scss/boostrap4/mixins/_border-radius.scss",
        "css/scss/boostrap4/mixins/_box-shadow.scss",
        "css/scss/boostrap4/mixins/_gradients.scss",
        "css/scss/boostrap4/mixins/_transition.scss",
        "css/scss/boostrap4/mixins/_clearfix.scss",
        "css/scss/boostrap4/mixins/_grid-framework.scss",
        "css/scss/boostrap4/mixins/_grid.scss",
        "css/scss/boostrap4/mixins/_float.scss",
        "css/scss/boostrap4/utilities/_align.scss",
        "css/scss/boostrap4/utilities/_background.scss",
        "css/scss/boostrap4/utilities/_borders.scss",
        "css/scss/boostrap4/utilities/_clearfix.scss",
        "css/scss/boostrap4/utilities/_display.scss",
        "css/scss/boostrap4/utilities/_embed.scss",
        "css/scss/boostrap4/utilities/_flex.scss",
        "css/scss/boostrap4/utilities/_float.scss",
        "css/scss/boostrap4/utilities/_position.scss",
        "css/scss/boostrap4/utilities/_screenreaders.scss",
        "css/scss/boostrap4/utilities/_shadows.scss",
        "css/scss/boostrap4/utilities/_sizing.scss",
        "css/scss/boostrap4/utilities/_spacing.scss",
        "css/scss/boostrap4/utilities/_text.scss",
        "css/scss/boostrap4/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "sftp",
    "remotePath": "/var/www/thumbsup/wp-content/themes/thumbsup-2019",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "45.77.34.11",
      "port": 22,
      "usePrivateKey": false,
      "username": "root",
      "password": "sf##123",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "style.css",
        "ctime": "2019-02-03T00:18:23.664Z",
        "mtime": "2019-02-03T00:18:23.664Z",
        "size": 2465
      },
      {
        "file": "screenshot.png",
        "ctime": "2019-01-27T18:34:05.817Z",
        "mtime": "2019-01-27T18:33:51.728Z",
        "size": 822966
      },
      {
        "file": "functions.php",
        "ctime": "2019-02-22T22:47:09.975Z",
        "mtime": "2019-02-22T22:47:09.975Z",
        "size": 15637
      },
      {
        "file": "css/bootstrap.css",
        "ctime": "2019-01-27T19:24:20.831Z",
        "mtime": "2019-01-21T23:01:00.725Z",
        "size": 158317
      },
      {
        "file": "css/index.html",
        "ctime": "2019-01-27T19:24:21.561Z",
        "mtime": "2019-01-21T23:01:00.828Z",
        "size": 45607
      },
      {
        "file": "css/vendor/jquery/jquery.matchHeight-min.js",
        "ctime": "2019-01-27T19:24:21.732Z",
        "mtime": "2019-01-21T23:01:00.856Z",
        "size": 3380
      },
      {
        "file": "css/img/thumb/img-trend-03@2x.jpg",
        "ctime": "2019-01-27T19:24:21.434Z",
        "mtime": "2019-01-21T23:01:00.826Z",
        "size": 86188
      },
      {
        "file": "img/Thumbs-Up-Logo.png",
        "ctime": "2019-02-22T22:36:08.679Z",
        "mtime": "2019-01-21T23:01:00.922Z",
        "size": 4292
      },
      {
        "file": "css/main.css",
        "ctime": "2019-01-27T19:42:49.931Z",
        "mtime": "2019-01-27T16:13:43.331Z",
        "size": 150455
      },
      {
        "file": "js/main.js",
        "ctime": "2019-02-22T22:40:31.585Z",
        "mtime": "2019-02-22T22:40:31.585Z",
        "size": 1282
      },
      {
        "file": "header.php",
        "ctime": "2019-02-22T22:41:27.321Z",
        "mtime": "2019-02-22T22:41:27.321Z",
        "size": 16294
      },
      {
        "file": "vendor/jquery/page-home.js",
        "ctime": "2019-02-22T22:49:16.069Z",
        "mtime": "2019-02-22T22:49:16.069Z",
        "size": 1620
      },
      {
        "file": "vendor/jquery/main.js",
        "ctime": "2019-02-22T22:49:30.061Z",
        "mtime": "2019-02-22T22:49:30.061Z",
        "size": 1665
      },
      {
        "file": "page-home.php",
        "ctime": "2019-02-24T17:54:21.583Z",
        "mtime": "2019-02-24T17:54:21.583Z",
        "size": 45250
      },
      {
        "file": "css/style.css",
        "ctime": "2019-02-01T17:33:51.129Z",
        "mtime": "2019-01-27T23:00:32.081Z",
        "size": 7975
      },
      {
        "file": "css/styles.css",
        "ctime": "2019-02-01T14:51:11.528Z",
        "mtime": "2019-01-21T23:01:00.730Z",
        "size": 1633
      },
      {
        "file": "footer.php",
        "ctime": "2019-02-22T22:43:53.862Z",
        "mtime": "2019-02-22T22:43:53.862Z",
        "size": 2786
      },
      {
        "file": "single.php",
        "ctime": "2019-02-03T00:24:26.986Z",
        "mtime": "2019-02-03T00:24:26.986Z",
        "size": 3380
      },
      {
        "file": "template-parts/content-single.php",
        "ctime": "2019-02-02T23:12:53.915Z",
        "mtime": "2019-02-02T23:12:53.915Z",
        "size": 2613
      },
      {
        "file": "inc/template-tags.php",
        "ctime": "2019-02-02T22:29:05.257Z",
        "mtime": "2019-02-02T22:29:05.257Z",
        "size": 4337
      },
      {
        "file": "img/icon/icon-play@2x.png",
        "ctime": "2019-02-22T22:36:08.319Z",
        "mtime": "2019-01-21T23:01:00.936Z",
        "size": 4480
      },
      {
        "file": "img/logo/logo-thumbsup-xs@2x.png",
        "ctime": "2019-02-22T22:36:08.476Z",
        "mtime": "2019-01-27T16:13:43.362Z",
        "size": 3700
      },
      {
        "file": "img/logo/logo-thumbsup.png",
        "ctime": "2019-02-22T22:36:08.480Z",
        "mtime": "2019-01-27T16:13:43.363Z",
        "size": 3949
      },
      {
        "file": "img/thumb/img-trend-02.jpg",
        "ctime": "2019-02-22T22:36:08.586Z",
        "mtime": "2019-01-21T23:01:00.957Z",
        "size": 48751
      },
      {
        "file": "vendor/jquery/jquery.js",
        "ctime": "2019-02-22T22:36:52.680Z",
        "mtime": "2019-01-21T23:01:00.983Z",
        "size": 271751
      },
      {
        "file": "vendor/jquery/megamenu.js",
        "ctime": "2019-02-22T23:01:53.975Z",
        "mtime": "2019-02-22T23:01:53.975Z",
        "size": 3175
      },
      {
        "file": "css/css/style.css",
        "ctime": "2019-02-22T23:07:22.445Z",
        "mtime": "2019-02-22T23:07:22.445Z",
        "size": 7747
      },
      {
        "file": "template-parts/content-slide.php",
        "ctime": "2019-02-24T17:53:19.487Z",
        "mtime": "2019-02-24T17:53:19.487Z",
        "size": 1492
      },
      {
        "file": "template-parts/content-slide-active.php",
        "ctime": "2019-02-24T17:53:46.694Z",
        "mtime": "2019-02-24T17:53:46.694Z",
        "size": 1499
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}