//bold
@font-face {
    font-family: 'helvethaicaX';
    src: url('#{$path-font}/db_helvethaica_x_bd_v3_2-webfont.eot');
    src: url('#{$path-font}/db_helvethaica_x_bd_v3_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-font}/db_helvethaica_x_bd_v3_2-webfont.woff2') format('woff2'),
         url('#{$path-font}/db_helvethaica_x_bd_v3_2-webfont.woff') format('woff'),
         url('#{$path-font}/db_helvethaica_x_bd_v3_2-webfont.svg#helvethaicaX') format('svg');
    font-weight: 400;
    font-style: normal;
}

//medium
@font-face {
    font-family: 'helvethaicaX';
    src: url('#{$path-font}/db_helvethaica_x_med_v3_2-webfont.eot');
    src: url('#{$path-font}/db_helvethaica_x_med_v3_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-font}/db_helvethaica_x_med_v3_2-webfont.woff2') format('woff2'),
         url('#{$path-font}/db_helvethaica_x_med_v3_2-webfont.woff') format('woff'),
         url('#{$path-font}/db_helvethaica_x_med_v3_2-webfont.svg#helvethaicaX') format('svg');
    font-weight: 300;
    font-style: normal;
}

//regular
@font-face {
    font-family: 'helvethaicaX';
    src: url('#{$path-font}/db_helvethaica_x_v3_2-webfon.eot');
    src: url('#{$path-font}/db_helvethaica_x_v3_2-webfon.eot?#iefix') format('embedded-opentype'),
         url('#{$path-font}/db_helvethaica_x_v3_2-webfon.woff2') format('woff2'),
         url('#{$path-font}/db_helvethaica_x_v3_2-webfon.woff') format('woff'),
         url('#{$path-font}/db_helvethaica_x_v3_2-webfon.svg#helvethaicaX') format('svg');
    font-weight: normal;
    font-style: normal;
}

//light
@font-face {
    font-family: 'helvethaicaX';
    src: url('#{$path-font}/db_helvethaica_x_li_v3_2-webfont.eot');
    src: url('#{$path-font}/db_helvethaica_x_li_v3_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$path-font}/db_helvethaica_x_li_v3_2-webfont.woff2') format('woff2'),
         url('#{$path-font}/db_helvethaica_x_li_v3_2-webfont.woff') format('woff'),
         url('#{$path-font}/db_helvethaica_x_li_v3_2-webfont.svg#helvethaicaX') format('svg');
    font-weight: 100;
    font-style: normal;
}



