// format media screen
// @include max-screen(1199px)
// @include max-screen(991px)
// @include max-screen(767px)
//
// @include min-screen(768px)
// @include min-screen(992px)
// @include min-screen(1200px)
// @include screen(768px, 991px)

// custom-boostpost
// $grid-gutter-width: 20px;

.container{
    @include min-screen(1200px){
        min-width: 1240px;
    }

    &._container-full-mobile{
      @include max-screen(575px){
        max-width: 100%;
        padding: 0;
      }
    }
}

.footer-button{
  padding-top: 40px;
  text-align: center;

  @include max-screen(767px){
    padding-top: 20px;
  }
}

._bg-section{
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

._border-bottom{
  border-bottom: 1px solid #b7b7b7;
}

.section-most-popular{
  padding: 20px;

  @include max-screen(767px){
    padding: 15px;
  }

  header{
    border-bottom: 1px solid $white;
    padding-bottom: 12px;
    margin-bottom: 20px;

    .title{
      .icon{
        margin-right: 20px;
      }
    }
  }

  .listing-card ._card + ._card{
    margin-top: 15px;
  }
}

.listing-card{
  ._card{

    &._border-bottom{
      padding-bottom: 40px;
      padding-top: 40px;


      @include max-screen(767px){
        padding-bottom: 20px;
        padding-top: 20px;
      }
    }
  }
}

._section{
  padding: 40px 0px;

  @include max-screen(767px){
    padding: 25px 0px;
  }

  &-title{
    position: relative;
    width: 100%;
    white-space: nowrap;
    color: $white;
    text-align: center;
    font-weight: 200;
    margin-bottom: 40px;
    overflow: hidden;

    @include max-screen(767px){
      font-weight: 100;
      @include font-size(40);
      margin-bottom: 15px;
    }

    &:before,
    &:after{
      background-color: $white;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 45.5%;
    }

    &:before{
      right: 20px;
      margin-left: -50%;
    }

    &:after{
      left: 20px;
      margin-right: -50%;
    }

    .name{
      padding: 0px 10px;
      display: inline-block;
    }
  }
}

.form-subscribe{
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px 10px;

  input[type="email"]{
    border-bottom: 0px;
    text-align: center;
    width: 100%;
  }

  .form-group{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccbaa8;
  }

  .group-button{
    margin-top: 30px;
  }
}

.list-social-share{
  .fab{
    color: $white;
    font-size: 24px;
  }

  .text{
    color: #666666;
    @include font-size(24);
    font-family: $brandfont;
    font-weight: normal;

    @include max-screen(767px){
      display: block;
    }
  }

  a{
    @include transition(all $transition);
  }

  .-facebook{
    background-color: $brand-facebook;

    &:hover{
      background-color: darken($brand-facebook, 10);
    }
  }

  .-twitter{
    background-color: $brand-twitter;

    &:hover{
      background-color: darken($brand-twitter, 10);
    }
  }

  .-line{
    background-color: $brand-line;

    &:hover{
      background-color: darken($brand-line, 10);
    }
  }
}

[rel="border-circle"]{
  border-radius: 500px 500px;
  width: 50px;
  height: 50px;
  display: inline-block;;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include max-screen(767px){
    width: 40px;
    height: 40px;
  }
}

._lead-cover{
  position: relative;
  width: 100%;
  // height: 400px;
  overflow: hidden;
  padding-bottom: 40%;

  @include max-screen(767px){
    padding-bottom: 60%;
  }

  .bg-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    &:before{
      content: '';
      display: block;
      height: 100px;
      position: absolute;
      top: 0;
      width: 100%;
      @include linear-gradient(0deg,
      rgba(0,0,0,0) 0%,
      rgba($black, 1) 100%);

      @include max-screen(767px){
        height: 50px;
      }
    }
  }
}
